/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Web Font */
@import url(http://fonts.googleapis.com/css?family=Duru+Sans);

body {
  background-color: black;
  font-size: 100%;
  width: 80%;
  margin: 2em auto 0;
  font-family: 'Duru Sans', sans-serif;
  font-weight: 700;

}

section {
  /*overflow: hidden;*/
  width: 70em;
  margin: 0 auto;
}

p {
  margin: 0;
}

.cover {
  color: white;
  width: 40%;
  margin: 0;
  padding: 1% 7% 1% 10%;
  float: left;
  margin-right: 2em;
  display: block;
  box-shadow: 0em 0em 5em rgba(10,10,10,0.7); 
}

.stack {
  text-transform: uppercase;
  font-size: 12em;
  line-height: 0.7em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}


span {
position: relative;
}

/* N */
.char1 {
  margin-left: -.1em;
  z-index: 4;
  text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.9);
}

/* I */
.char2 {
 z-index: 3; 
 margin-left: -.34em;
  top: 0.08em;
    text-shadow: -0.02em 0.02em 0.2em rgba(10,10,10,0.9);

}

/* C */
.char3 {
  z-index: 9;
  margin-left: -.4em;
  text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);
  
}

/* H */
.char4 {
  z-index: 5;
  margin-left: -.43em;
  text-shadow: 0.02em -0.02em 0.2em rgba(10,10,10,0.9);
}

/* O */
.char5 {
  z-index: 2;
  margin-left: -.15em;
  top: -0.04em;
  text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);
}

/* L */
.char6 {
  z-index: 10;
  margin-left: -.455em;
  text-shadow: 0em 0em 0.2em rgba(10,10,10,0.9);
  
}

/* A */
.char7 {
  z-index: 8;
  margin-left: -.385em;
  top: -0.07em;
  text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);
  
}

/* S */
.char8 {
  z-index: 6;
  margin-left: -.465em;
  top: -0.02em;
  text-shadow: 0.02em -0.01em 0.2em rgba(10,10,10,0.9);
}

/* G */
.char9 {
  z-index: 7;
  margin-left: -.1em;
  top: -0.03em;
  text-shadow: 0.03em -0.03em 0.2em rgba(10,10,10,0.8);
}

/* R */
.char10 {
  z-index: 1;
  margin-left: -.45em;
  top: -0.06em;
  text-shadow: 0.05em -0.05em 0.2em rgba(10,10,10,0.9);
}

/* A */
.char11 {
  z-index: 11;
  top: -.127em;
  margin-left: -.45em;
  text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);
}

/* Y */
.char12 {
  z-index: 12;
  top: -.04em;
  margin-left: -.59em;
  text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}